@model Attitude_Loose.ViewModels.ReportAnalysisViewModel

<h1>04/01/2018 - 04/30/2018</h1>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

<canvas class="my-4" id="myChart" width="900" height="380"></canvas>
<script>
    var ctx = document.getElementById("myChart");
    var analysisconfig = {
        type: 'line',
        data: {

            labels: [@Model.Xaxis],

            datasets: [
                {
                    label: 'Bobbie',
                    data: [@Model.Yaxis],
                    lineTension: 0,
                    backgroundColor: "#f2494c",
                    borderColor: "#f2494c",
                    borderWidth: 4,
                    pointBackgroundColor: '#007bff',
                    fill: false
                },
                {
                    label: 'Sisi',
                    data: [5, 4, 0, 2],
                    lineTension: 0,
                    backgroundColor: "#4857f1",
                    borderColor: "#4857f1",
                    borderWidth: 4,
                    fill: false
                }]
        },
        options: {
            responsive: true,
            title: {
                display: true,
                text: 'Weekly PDA Report'
            },
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Date'
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Work Number'
                    }
                }]
            }
        }
    };

    var newDataset = {
        label: 'Dataset ' + analysisconfig.data.datasets.length,
        backgroundColor: "#FFFF00",
        borderColor: "#FFFF00",
        data: [],
        fill: false
    };
    for (var index = 0; index < analysisconfig.data.labels.length; ++index) {
        newDataset.data.push(33);
    }

    analysisconfig.data.datasets.push(newDataset);

    var myChart = new Chart(ctx, analysisconfig);
</script>