@model Attitude_Loose.ViewModels.ReportAnalysisViewModel

<h1>04/01/2018 - 04/30/2018</h1>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

<canvas class="my-4" id="numberChart" width="900" height="380"></canvas>
<canvas class="my-4" id="timeChart" width="900" height="380"></canvas>
<script>
    var ctxNumber = document.getElementById("numberChart");
    var ctxTime = document.getElementById("timeChart");
    var numberconfig = {
        type: 'line',
        data: {

            labels: [@Model.Xaxis],

            datasets: []
        },
        options: {
            responsive: true,
            title: {
                display: true,
                text: 'Work Number Report'
            },
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Date'
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Work Number'
                    }
                }]
            }
        }
    };

        var timeconfig = {
        type: 'line',
        data: {

            labels: [@Model.Xaxis],

            datasets: []
        },
        options: {
            responsive: true,
            title: {
                display: true,
                text: 'Work Time Report'
            },
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Date'
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Work Time'
                    }
                }]
            }
        }
    };


    @for (var index = 0; index < Model.Loginname.Count(); index++) {
        var loginname = Model.Loginname.GetValue(index);
        var nYaxis = Model.nYaxis[loginname.ToString()];
        @:var newDataset = { data: [], fill: false };
        @:newDataset.data.push(@nYaxis);
        @:newDataset.label = '@loginname';
        @:newDataset.borderColor = "rgba(" + (@index * 100).toString() + ", " + (@index * 50).toString() + ", " + (@index * 20).toString() + ", " + "0.9)";
        @:newDataset.backgroundColor = "rgba(" + (@index * 100).toString() + ", " + (@index * 50).toString() + ", " + (@index * 20).toString() + ", " + "0.9)";
        @:numberconfig.data.datasets.push(newDataset);
    }

        @for (var index = 0; index < Model.Loginname.Count(); index++) {
        var loginname = Model.Loginname.GetValue(index);
        var tYaxis = Model.tYaxis[loginname.ToString()];
        @:var newDataset = { data: [], fill: false };
        @:newDataset.data.push(@tYaxis);
        @:newDataset.label = '@loginname';
        @:newDataset.borderColor = "rgba(" + (@index * 100).toString() + ", " + (@index * 50).toString() + ", " + (@index * 20).toString() + ", " + "0.9)";
        @:newDataset.backgroundColor = "rgba(" + (@index * 100).toString() + ", " + (@index * 50).toString() + ", " + (@index * 20).toString() + ", " + "0.9)";
        @:timeconfig.data.datasets.push(newDataset);
    }


    var numberChart = new Chart(ctxNumber, numberconfig);
    var timeChart = new Chart(ctxTime, timeconfig);


</script>