
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav">
        <li><a class="navbar-brand" href='@Url.Action("Index", "Home")'>Home</a>
        <li>
            <a class="nav-link" href="/Topic/TopicList">Topic</a>
        </li>
        <li>
            <a class="nav-link" data-toggle="modal" href="#topicModal" onclick="CreateTopic();">Create</a>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            @*<span class="glyphicon glyphicon-user"></span>*@
            <a class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" href="#">
                @*<span class="glyphicon glyphicon-user"></span>*@
                @{
                    var name = User.Identity.Name;
                    <text> @name </text>
                }
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" href='@Url.Action("UserProfile", "ApplicationUser", new { id = User.Identity.GetUserId()})'>
                        Profile
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href='@Url.Action("LogOff", "ApplicationUser")'>Sign Out</a>
                </li>
            </ul>

        </li>
    </ul>
                    }
<link href="/Content/CustomStyles.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    $(document).ready(function () {
        $(".nav-collapse .nav li a").click(function (e) {
            $(".nav-collapse .nav .active").removeClass("active")
            $(this).parent().addClass("active")
        });
    });

    $('#searchText').keypress(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13 && $(this).val() != "") {
            $('#searchform').submit();
        }

    });



</script>
